.section-div{
    padding: 40px 0;  
    align-content: center;
  
  }
  
  .container-fluid{
      padding-top: 50px;
      padding-bottom: 48px;  
      align-content: center;
      }
  
  .card-body{
      margin-bottom: 35px;
  }
  
  .card-text{
      margin-bottom: 305px;
  }
  
  